
.wrapper

  = render partial: "shared/side_bar"

  .main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list
          Member :
          - @group.users.each do |user|
            = user.name
      .main-header__edit-btn
        = link_to "Edit", edit_group_path(@group.id)


    .messages
      = render partial: "message"
      = render partial: "message"

    .form
      = form_for [@group, @message] do |f|
        .new-message
          .input-box
            = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
            %label.input-box__upload-label{for: "message_image"}
              = fa_icon 'picture-o', class: 'icon'
              %input{type:"file", class:"image_submit", id:"message_image"}
          = f.submit 'Send', class: 'submit-btn'


